/* Style the main heading */
.h1-headings {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

/* Style the section headings */
.h3-headings {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Add some spacing between paragraphs */
/* p {
  margin-bottom: 20px;
} */
.main-section p ul li {
  margin-bottom: 20px;
}

.main-section ul li {
  margin-left: 80px;
}
/* Set a background color for the sections */
.main-section,
.intro,
.methodology,
.results,
.analysis,
.conclusion {
  background-color: #f5f5f5;
  padding: 5px;
  margin-bottom: 5px;
}
/* Style the estimated price heading */
.results h4 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Style the strong text in the analysis section */
.analysis strong {
  font-weight: bold;
}

/* Style the conclusion section */
.conclusion {
  background-color: #ddd;
}
